.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    height: 500px;
}

.paragraph {
    transition: all 0.5s ease-in-out;
    z-index: 100;
    color: #85929e;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 1;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

.paragraph:hover {
    /*cursor: pointer;*/
    transform: scale(1.2);
    color: #f9e79f;
    animation: none;
}


.image_hidden {
    max-width: 300px;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.image_visible {
    max-width: 300px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0) 100%);
}

h1 span {
    position: relative;
    top: 0;
    animation: jump 0.8s ease infinite alternate;
}

@keyframes  jump {
    100% {
        top: 5px;
    }
}

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    animation-delay: 0.6s;
}

h1 span:nth-child(8) {
    animation-delay: 0.2s;
}

h1 span:nth-child(9) {
    animation-delay: 0.3s;
}

@media (max-width: 768px) {

    .image_hidden {
        display: none;
    }

    .image_visible {
        display: none;
    }
    .container {
        max-width: 100vw;
    }
}