@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bowlby+One+SC&family=Luckiest+Guy&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Fascinate+Inline&family=Fredericka+the+Great&family=Londrina+Shadow&display=swap');

#root {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Meta', 'Fascinate Inline','"Fascinate Inline"', 'Fredericka the Great', "Diplomata", "Londrina Shadow", sans-serif;
    cursor: none;
}

.menu {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.menu ul li {
    margin: 0 15px;
    transition: all 0.5s;
}

.menu ul li a {
    color: dimgray;
    font-size: 18px;
}

.menu ul li:hover {
    transform: scale(1.2);
    /*cursor: pointer;*/
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    position: relative;
}

.grid {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 40px 40px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}


@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

.caption {
    height: 100%;
    width: 100%;
    transition: all 1s;
    position: fixed;
    top: 160px;
    letter-spacing: .8rem;
    font-variation-settings: "wght" 900, "ital" 1;
    line-height: 1;
    font-size: 20rem;
    text-align: center;
    color: transparent;
    font-family: "Londrina Shadow", sans-serif;
    text-shadow: 1px 20px 0 #a3e4d7,
    22px 20px 0 #f9e79f;
}

.caption.scrolled {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
    -webkit-text-stroke: 4px #a3e4d7;
}

.photo {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s;
    position: fixed;
    bottom: 100px;
    right: 100px;
    max-width: 400px;
}

.photo-mask {
    opacity: 1;
    visibility: visible;
    transition: opacity 3s ease-in-out, visibility 3s;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);
    bottom: 100px;
    right: 100px;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

@media (max-width: 768px) {

    #root {
        overflow-x: hidden;
        max-width: 100px;
        padding: 1rem;
    }

    body {
        overflow-x: hidden;
        max-width: 100px;
    }

    .caption {
        max-width: 100vw;
        font-size: 5rem;
        letter-spacing: 0.4rem;
        top: 100px;
        text-shadow: 1px 20px 0 #a3e4d7,
        7px 20px 0 #f9e79f;
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    .grid {
        background-size: 20px 20px;
    }

    .menu {
        display: none;
    }

    /** {*/
    /*    outline: 1px solid red;*/
    /*}*/
}